* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

form {
    margin-left: 32px;
}

.left-container {    
   position: relative;   
   width: 30vw;
   height: 100vh;
}

.card-image {   
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-body {
    position: absolute;
    top: 8rem;
    width: 100%;
    height: 20vh;   

}

.logo-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.logo-heading {
    position: absolute;
    display: flex;
    height: 80%;
}

.form-element {
    display: flex;
    flex-direction: column; 
    margin-right: 50px;  
   
}

.form-row {
    display: flex;  
    margin-top: 16px;   
    flex-wrap: wrap;
    gap: 16px;
}

.header-form {   
    width: 35vw; 
    height: 40vh;
    font-size: 20px;
    font-weight: bold;
}

.content-form {
    height: 30vh;
}

button {
    margin-top: 32px;
}

.confirmation {
    margin-top: 16px;
}



