* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

form {
    margin-left: 32px;
}

.left-container {   
   background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
   background-size: 30vw 100vh;
   width: 30vw;
   height: 100vh;
}

.form-element {
    display: flex;
    flex-direction: column; 
    margin-right: 50px;  
   
}

.form-row {
    display: flex;  
    margin-top: 16px;   
    flex-wrap: wrap;
    gap: 16px;
}

.header-form {
    height: 40vh;
}

.content-form {
    height: 30vh;
}

button {
    margin-top: 32px;
}

.confirmation {
    margin-top: 16px;
}